<nav class="flex text-center mr-auto p-3 bg-bottom border-b-2 border-slate-200">
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="lg:flex-grow">
            <a href="/" class="block mt-4 lg:inline-block lg:mt-0 text-white-200 mr-4">
                            Home
                        </a>
            <a href="/posts" class="block mt-4 lg:inline-block lg:mt-0 text-white-200 mr-4">
                            Posts
                        </a>
            <a href="/projects" class="block mt-4 lg:inline-block lg:mt-0 text-white-200 mr-4">
                            Projects
                        </a>
            <a href="/commission" class="block mt-4 lg:inline-block lg:mt-0 text-white-200 mr-4">
                            Commission
                        </a>
            <a href="/about" class="block mt-4 lg:inline-block lg:mt-0 text-white-200 mr-4">
                            About
                        </a>
        </div>
    </div>
</nav>